
body {
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
  padding-top:0px;
  padding-bottom: 0px;
  color: #333;
  font-family: 'Arial', sans-serif;
}


.navbar {
  background-color: #343a40;
}

.navbar-nav .nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-link {
  color: #fff !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #f8d7da !important;
}

/* Footer Styling */
footer .navbar {
  background-color: #343a40;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .navbar-nav .nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

/* Table Styling */
.table {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table thead {
  background-color: #6c757d;
  color: #fff;
}

.table tbody tr {
  transition: background-color 0.3s ease;
}

.table tbody tr:hover {
  background-color: #f8d7da;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

/* Form Styling */
form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

form .form-group label {
  font-weight: bold;
  color: #343a40;
}

form .btn {
  background-color: #ff6f61;
  border: none;
  transition: background-color 0.3s ease;
}

form .btn:hover {
  background-color: #ff4a39;
}
